{{!< default}}
<div id="nav-spacer"></div> 
<div>
    <article class="{{post_class}}">
        {{#post}}
            <h1>{{{title}}}</h1>
            <section>
                {{content}}
            </section>
        {{/post}}
    </article>
</div>
