.post.page{
    padding:0 0 2em 0;
    .post-inner{
        max-width:none;
        div.page-cover{
            background-size:cover;
            background-position:center center;
            background-color:$theme;
            padding:0;
        }
        div.page-cover-inner{
            padding:10em 2em;
            margin-top:0;
            margin-bottom:0;
            background:rgba(0,0,0, 0.90);
        }
        h1, h2, h3, h4, h5, h6, blockquote{
            @extend .container; 
        }
        h1.title{
            margin-top:0;
            color:$theme;
            margin-bottom:0;
            padding:0;
        }
    }
}