.post.page{
    padding:0 0 2em 0;
    .post-inner{
        max-width:none;
        img{
            border-radius:0px;
        }
        h1, h2, h3, h4, h5, h6, blockquote{
            @extend .container; 
        }
        h1.title{
            margin-top:-1em;
        }
    }
}