.post.page{
    padding:0 0 2em 0;
    .post-inner{
        max-width:none;
        div.page-cover{
            background-size:cover;
            background-position:center center;
            background-color:$theme;
            padding:0;
        }
        h1, h2, h3, h4, h5, h6, blockquote{
            @extend .container; 
        }
        h1.title{
            padding:3em 2em;
            margin-top:0;
            margin-bottom:0;
            color:#FFF;
            background:rgba($theme, 0.9);
        }
    }
}