$theme: #2AC648;
$darkGrey: #151515;
$textGrey: rgba(33,33,33,0.8);

@function asset($path){ 
  @return "./" + $path;
} 
@function highlight($color){
    @return darken($color, 10%);
}

@import './components.scss';

.codeFont{
    font-family: "source-code-pro",sans-serif;
}
.standardFont{
    font-family: "proxima-nova", Segoe UI, Helvetica, sans-serif; 
}
.slabFont{
    font-family: "museo-slab", serif;
}

body,html{
  padding:0;
  margin:0;
}
body{
  font-size:14px;
  @extend .standardFont;
}
/* ------------
  Typography
------------ */

h1{
    @extend .standardFont;
    font-size:3em;
    font-weight:900;
}
h1.title{
    font-size:4em;
    margin-top:0px;
}
.standardFormat{
    font-size:1.4em;
    line-height:1.7em;
    margin:0 0 2em 0;
}
h2{
    font-size:3em;
    @extend .slabFont;
}
h1, h2{
    color:$theme;
    margin-bottom:0.7em;
}
h3{
    @extend .slabFont;
    font-weight:300;
    font-size:2em;
    color:$textGrey;
    margin-top:2em;
    margin-bottom:0.7em;
    text-align:left;
}
h5{
    @extend .standardFont;
    color:$textGrey;
    font-size:1.5em;
    text-align:left;
    margin-top:1em;
    margin-bottom:0.7em;
    font-weight:700;
}


/* ---------------
    Navigation 
--------------- */
#nav{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    background:#FFF;
    padding:10px 0px;
    z-index:20;
    opacity:0;
    margin-right: 16px ;
    &.scroll-hidden{
        transform: translate3d(0, -100%, 0) !important;
        opacity:0;
    }
    &.loaded.blog{
        background-color:#FFF !important; 
        box-shadow: 0px 0px 20px rgba(0,0,0,0.05) !important;
    }
    transition: opacity 1s ease-out, transform 300ms ease;
    #nav-inner{
        position:relative;
        text-align:center;
        #nav-left{
            right:50%;
            position:absolute;
            margin-right:56px;
            top:0px;
        }
        #nav-right{
            top:0px;
            left:50%;
            position:absolute;
            margin-left:56px;
        }
        a{
            color: #BBB;
            display:inline-block;
            box-sizing:border-box;
            font-weight:400;
            font-size:14px;
            letter-spacing: 5px;
            line-height:14px;
            text-decoration:none;
            transition: all 500ms cubic; 
            transform: tarnslate3d(0, -100%, 0);
            padding:26px;
            &:hover, &.active{
                color:$theme;
            }
        }
        #nav-home{
            transform: translate3d(0, -100%, 0);
            transition: 500ms cubic; 
            margin:4px;
            padding:0px;
            height:56px;
            width:56px;
            img{
                height:64px;
                width:64px;
                margin-top:-4px;
                margin-left:-4px;
            }
        }
    }
    &.loaded{
        opacity:1;
        #nav-inner{
            #nav-home, a{
                transform: translate3d(0, 0, 0);
            }
        }
    }
}
@media(min-width:601px){
    .visible-xs{
        display:none !important;
    }
}

/* ------------
    Content
------------ */
.container{
    max-width:800px;
    padding:0 1.5em;
    box-sizing:border-box;
    margin:0 auto;
}

@media(min-width:800px){
    .row{
        margin:-1em;
        .cell{
            width:50%;
            box-sizing:border-box;
            margin:0px;
            vertical-align:middle;
            display:inline-block;
        }
        .cell-left{
            padding-right:4em;
        }
        .cell-right{
            padding-left:4em;
        }
    }
}
@media(max-width: 800px){
    body{
        font-size: 12px;
    }
}

/* ------------
     Pages
------------ */
main#home{
  @import 'home.scss';
}