@import '../common';
.home-component {
    overflow-y: hidden;
    position: static;
    background: #FFF;
    background-size: cover;
    .home-video {
        min-width: 100%; 
        min-height: 100%; 
        
        /* Setting width & height to auto prevents the browser from stretching or squishing the video */
        width: auto;
        height: auto;
        
        /* Center the video */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .home-content {
        height: 100%;
        background-size: cover;
        box-sizing: border-box;
        overflow: hidden;
        padding: 90px 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0%, transparent 50%);
        top: 0;
        left: 0;
        width: 100%;
        @extend .body-font;
        .home-content-inner {
            flex: 0;
            position: relative;
            text-align: center;
        }
        .home-message {
            opacity: 0;
            transform: scale(0.9);
            transition: all 400ms;
            &.visible {
                opacity: 1;
                transform: scale(1);
            }
        }
        .home-prompt {
            line-height: 0;
            img {
                width: 5rem;
            }
        }
    }
    .content-wrapper {
        position: relative;
        transform-origin: top center;
        transform: translateY(85vh);
        background: #FFF;
        transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
    }
    .lazy-image-loader {
        height: 12rem;
        position: relative;
        >img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) !important;
            width: 100%;
        }
    }
    .home-blog {
        >.h-scroll-nav {
            top: 10.85rem;
            background: #FFF;
            border-radius: 100%;
            width: 1rem;
            height: 1rem;
            padding: 0.65rem;
            box-sizing: content-box;
            text-align: center;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            color: $theme;
        }
        >.h-scroll-indicator {
            margin-top: -1rem;
            padding-bottom: 1rem;
            >.h-scroll-link {
                color: $theme;
            }
        }
    }
    .home-projects {
        >.h-scroll-contents>.project-preview>.project-preview-body{
            padding: 2rem 5rem 2.5rem 2rem;
        }
        >.h-scroll-nav {
            top: 4.85rem;
            border-radius: 100%;
            width: 1rem;
            height: 1rem;
            padding: 0.65rem;
            box-sizing: content-box;
            text-align: center;
            color: #FFF;
            transition: opacity 250ms;
            opacity: 0.5;
            display: block;
            &.active {
                opacity: 1;
            }
            &.left {
                right: 3.5rem;
                left: auto;
            }
        }
        >.h-scroll-indicator {
            margin-top: -2.5rem;
            >.h-scroll-indicator-item {
                background: #FFF;
                opacity: 0.5;
                transition: opacity 250ms;
                &.active {
                    opacity: 1;
                    background: #FFF;
                }
            }
            >.h-scroll-link {
                color: #FFF;
                opacity: 0.75;
            }
        }
    }
}
.h-scroll {
    position: relative;
    >.h-scroll-contents {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        >* {
            width: 100%;
            flex: 0 0 auto;
        }
    }
    >.h-scroll-nav {
        position: absolute;
        top: 50%;
        padding: 0.5rem;
        font-size: 1rem;
        display: none;
        &.active {
            display: block;
        }
        &.right {
            right: 1rem;
        }
        &.left {
            left: 1rem;
        }
    }
    >.h-scroll-indicator {
        position: relative;
        padding: 0.5rem 2rem 0.5rem 1.75rem;
        >.h-scroll-indicator-item {
            border-radius: 100%;
            height: 0.5rem;
            width: 0.5rem;
            margin: 0.25rem 0.25rem;
            background: #DDD;
            transition: background 250ms;
            display: inline-block;
            &.active {
                background: $theme;
            }
        }
        >.h-scroll-link {
            position: absolute;
            top: 0rem;
            right: 1.75rem;
            text-decoration: none;
            font-size: 1rem;
            border-radius: 0.5rem;
            padding: 0.25rem;
            margin: 0;
            opacity: 1;
            transition: opacity 250ms;
            i {
                margin-right: 0.5rem;
                margin-top: 0.1rem;
                vertical-align: text-top;
            }
            &:hover {
                opacity: 0.5;
            }
        }
    }
}
.home-template .navigation-desktop.top {
    background: transparent;
    >.navigation-desktop-inner {
        img.theme {
            display: none !important;
        }
        img.white {
            display: block !important;
        }
        a {
            color: #FFF;
            &:hover {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}