@import '../common';
.home-component {
    overflow-y: hidden;
    position: relative;
    background: #FFF;
    background-size: cover;
    .home-content {
        height: 100%;
        background-size: cover;
        box-sizing: border-box;
        overflow: hidden;
        padding: 90px 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        .home-content-inner {
            flex: 0;
            text-align: center;
        }
        .home-message {
            opacity: 0;
            transform: scale(0.9);
            transition: all 400ms;
            &.visible {
                opacity: 1;
                transform: scale(1);
            }
        }
        .home-prompt {
            line-height: 0;
            img {
                width: 5rem;
            }
        }
    }
    .content-wrapper {
        position: relative;
        transform-origin: top center;
        transform: translateY(85vh);
        background: #FFF;
        transition-timing-function: ease-out;
        -webkit-transition-timing-function: ease-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }
}