<nav id="nav">
    <div id="nav-inner">
        <div id="nav-left">
            <a href="/#!/about" style="transition-delay:0.14s">ABOUT</a>
            <a href="/#!/projects" style="transition-delay:0.07s">PROJECTS</a>
        </div>
        <a href="/#!/home" id="nav-home"><img src="/assets/lib/img/logo.png" /></a>
        <a href="javascript:void(0);" id="hamburger" class="visible-xs"><span></span></a>
        <div id="nav-right">
            <a href="/#!/blog" class="blog-toggle" style="transition-delay:0.14s">BLOG</a>
            <a href="/#!/contact" style="transition-delay:0.07s">CONTACT</a>
        </div>
    </div>
</nav>
<div id="mobile-menu">
    <div class="container">
        <div class="social">
            <a href="https://github.com/kpsuperplane" class="el el-github" target="_blank" title="GitHub"></a>
            <a href="http://stackoverflow.com/users/864528/kevin-pei" class="el el-stackoverflow" target="_blank" title="StackOverflow"></a>
            <a href="http://ca.linkedin.com/in/kpsuperplane/en" class="el el-linkedin" target="_blank" title="LinkedIn"></a>
            <a class="button resume" href="/assets/documents/kevin-pei-resume-public.pdf" target="_blank">RESUME</a>
        </div>
        <a href="/#!/home" class="quickNav" style="transition-delay: 0s">HOME</a><div class="empty"></div>
        <a href="/#!/about" class="quickNav" style="transition-delay: 0.075s">ABOUT</a><div class="empty"></div>
        <a href="/#!/projects" class="quickNav" style="transition-delay: 0.15s">PROJECTS</a><div class="empty"></div>
        <a href="/#!/blog" class="blog-toggle" style="transition-delay: 0.225s">BLOG</a><div class="empty"></div>
        <a href="/#!/contact" class="quickNav" style="transition-delay: 0.3s">CONTACT</a>
    </div>
</div>