<nav id="nav">
    <div id="nav-inner">
        <div id="nav-left">
            <a href="/#!/about" style="transition-delay:0.14s">ABOUT</a>
            <a href="/#!/projects" style="transition-delay:0.07s">PROJECTS</a>
        </div>
        <a href="/#!/home" id="nav-home"><img src="/assets/img/logo.png" /></a>
        <a href="javascript:void(0);" id="hamburger" class="visible-xs"><span></span></a>
        <div id="nav-right">
            <a href="/#!/blog" class="blog-toggle" style="transition-delay:0.14s">BLOG</a>
            <a href="/#!/contact" class="contact-link" style="transition-delay:0.07s">CONTACT</a>
        </div>
    </div>
</nav>