@import '../common';
.button {
    border-style: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 3px;
    background: $theme;
    transform: scale(1);
    transition: all 250ms;
    touch-action: manipulation;
    box-shadow: none;
    color: #FFF;    
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    }
}