@import '../common';
.lazy-image-loader {
    @extend .loading-background;
    display: block;
    white-space: nowrap;
    font-size: 0;
    &.loaded {
        background: transparent;
        animation: none;
    }
}
.lazy-image {
    opacity: 0;
    transition: opacity 250ms;
    background-size: cover;
    background-position: center center;
    &.loaded {
        opacity: 1;
    }
}