.loader {
    width: 10rem; max-width: 100%;
    max-height: 0.67rem;

    &::-webkit-media-controls-panel {
        display: none!important;
        -webkit-appearance: none;
    }
    &::-webkit-media-controls-play-button {
        display: none!important;
        -webkit-appearance: none;
    }
    &::-webkit-media-controls-start-playback-button {
        display: none!important;
        -webkit-appearance: none;
    }
}