@import '../common';
.title-wrapper {
    .title {
        padding: 5rem 2rem 4rem 2rem;
        background-size: cover;
        background-position: center center;
        text-align: center;
        h1 {
            font-size: 2rem;
            text-align: center;
            padding: 1rem;
            margin: 0;
            color: #FFF;
            @extend .head-font;
            font-weight: 300;
        }
        small {
            color: #FFF;
            @extend .body-font;
            opacity: 0.25;
            font-weight: 300;
        }
    }
    .title-curve {
        display: none;
    }
}
@media (min-width: 750px){ 
    .title-wrapper {
        .title {
            padding: 9rem 2rem 13rem 2rem;
            h1 {
                font-size: 3.5rem;
            }
        }
        .title-curve {
            margin-top: -80px;
            height: 80px;
            width: 100%;
            display: block;
            position: relative;
        }
    }
}